:host {
  display: block;
}

.form-control {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.label {
  padding: 0;
}

.radio-group-required .label::after {
  content: var(--wa-form-control-required-content);
  margin-inline-start: var(--wa-form-control-required-content-offset);
}

.button-group {
  display: flex;
}

[part~='form-control-input'] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75em;
}

/* Horizontal */
:host([orientation='horizontal']) [part~='form-control-input'] {
  flex-direction: row;
  gap: 1em;
}

/* Help text */
[part~='hint'] {
  margin-block-start: 0.5em;
}

/* Radios have the "button" appearance */
:host fieldset.has-radio-buttons {
  [part~='form-control-input'] {
    gap: 0;
  }
}

