[data-card-action]::after {
	content: "";
	position: absolute;
	inset: 0;
	cursor: pointer;
	z-index: 1;
}

[data-card-secondary-action] {
	position: relative;
	z-index: 2;
}
[data-card-action] {
	color: inherit;
}
[data-card-action]:hover {
	text-decoration: none;
	color: inherit;
}

[data-card-action],
w-card:has([data-card-action]) label {
	cursor: pointer !important;
}

w-card:has([data-card-action]) label {
	pointer-events: none;
}

w-card:has([data-card-action]),
w-card:has([data-card-action]) label,
w-card:has([data-card-action]) [data-card-action] {
	user-select: none;
}

w-card:has([data-card-action]) {
	cursor: pointer !important;
}

w-card:has([data-card-action]) * {
	cursor: pointer !important;
}

[data-card-action]::part(base),
[data-card-action]::part(control),
[data-card-action]::part(input),
[data-card-action]::part(label) {
	cursor: pointer !important;
}

[data-card-action]::part(base),
[data-card-action]::part(control) {
	outline: none !important;
}

[data-card-action] {
	--w-c-checkbox-outline-width: 0;
	--w-c-radio-outline-width: 0;
}
[data-card-group] {
	--_card-group-radius: 8px;
	display: block;
	overflow: hidden;
	border: 0;
	border-radius: var(--_card-group-radius);
	position: relative;
	box-shadow: var(--w-shadow-s);
}

[data-card-group]:has(> w-card[flat]) {
	--_card-group-radius: 4px;
	border-radius: var(--_card-group-radius);
	box-shadow: var(--w-none);
}

[data-card-group]:has([data-card-action]) {
	cursor: pointer !important;
}

[data-card-group] > w-card {
	--w-c-card-border-radius: 0;
	--w-c-card-border-width: 0;
	--w-c-card-box-shadow: var(--w-none);
	--w-c-card-box-shadow-hover: var(--w-none);
	--w-c-card-box-shadow-active: var(--w-none);
	position: relative;
}

[data-card-group] > w-card::part(border) {
	border-color: var(--w-c-card-border-color, var(--w-s-color-border));
	border-width: 0 2px;
}

[data-card-group] > w-card:not([flat])::part(border) {
	border-color: var(--w-transparent);
}

[data-card-group] > w-card:has([data-card-action]:hover)::part(base),
[data-card-group] > w-card:has([data-card-action]:focus-visible)::part(base),
[data-card-group]
	> w-card:has([data-card-action][data-focus-visible])::part(base),
[data-card-group] > w-card:has([data-card-action]:active)::part(base) {
	box-shadow: var(--w-none);
}

[data-card-group] > w-card:first-child::part(border) {
	border-radius: var(--_card-group-radius) var(--_card-group-radius) 0 0;
	border-top-width: 2px;
}

[data-card-group] > w-card + w-card::part(border) {
	border-top-width: 2px;
}

[data-card-group] > w-card:not([flat]) + w-card::part(border) {
	border-top-color: var(--w-s-color-border);
	border-top-width: 1px;
}

[data-card-group] > w-card:last-child::part(border) {
	border-bottom-width: 2px;
	border-radius: 0 0 var(--_card-group-radius) var(--_card-group-radius);
}

[data-card-group] > w-card:has([data-card-action][checked])::part(border) {
	border-color: var(--w-c-card-border-color, var(--w-s-color-border-selected));
	border-width: 2px;
}

[data-card-group]
	> w-card:has([data-card-action][checked])
	+ w-card:has([data-card-action][checked])::part(border) {
	border-top-width: 0;
}

[data-card-group]
	> w-card:has([data-card-action][checked]):has(
		+ w-card:has([data-card-action][checked])
	)::part(border) {
	border-bottom-width: 0;
}

[data-card-group] > w-card:has([data-card-action]:focus-visible)::part(border),
[data-card-group]
	> w-card:has([data-card-action][data-focus-visible])::part(border) {
	border-color: var(--w-s-color-border-focus);
	border-width: 2px;
}

[data-card-group] > w-card:has([data-card-action]:active)::part(border) {
	border-color: var(
		--w-c-card-border-color-active,
		var(--w-s-color-border-active)
	);
}

w-card:has([data-card-action]) {
	position: relative;
}

w-card:has([data-card-action])::part(base) {
	cursor: pointer !important;
}

w-card:not([flat]):has([data-card-action][checked]) {
	--w-c-card-bg: var(--w-s-color-surface-elevated-200);
	--w-c-card-bg-hover: var(--w-s-color-surface-elevated-200-hover);
	--w-c-card-bg-active: var(--w-s-color-surface-elevated-200-active);
	--w-c-card-border-color: var(--w-s-color-border-selected);
	--w-c-card-border-color-hover: var(--w-s-color-border-selected-hover);
	--w-c-card-border-color-active: var(--w-s-color-border-selected-active);
	--w-c-card-box-shadow: var(--w-shadow-s);
	--w-c-card-box-shadow-hover: var(--w-shadow-m);
	--w-c-card-box-shadow-active: var(--w-none);
}

w-card[flat]:has([data-card-action][checked]) {
	--w-c-card-bg: var(--w-s-color-background-selected);
	--w-c-card-bg-hover: var(--w-s-color-background-selected-hover);
	--w-c-card-bg-active: var(--w-s-color-background-selected-active);
	--w-c-card-border-color: var(--w-s-color-border-selected);
	--w-c-card-border-color-hover: var(--w-s-color-border-selected-hover);
	--w-c-card-border-color-active: var(--w-s-color-border-selected-active);
}

w-card:not([flat]):has([data-card-action]:hover)::part(base),
w-card:not([flat]):has([data-card-action]:focus-visible)::part(base),
w-card:not([flat]):has([data-card-action][data-focus-visible])::part(base) {
	background-color: var(
		--w-c-card-bg-hover,
		var(--w-s-color-surface-elevated-200-hover)
	);
	cursor: pointer;
	transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
w-card:has([data-card-action]:hover)::part(base) {
	box-shadow: var(--w-c-card-box-shadow-hover, var(--w-shadow-m));
}

w-card[flat]:has([data-card-action]:hover)::part(base),
w-card[flat]:has([data-card-action]:focus-visible)::part(base),
w-card[flat]:has([data-card-action][data-focus-visible])::part(base) {
	background-color: var(--w-c-card-bg-hover, var(--w-s-color-background-hover));
	cursor: pointer;
	transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

w-card:not([flat]):has([data-card-action][checked]:hover)::part(border) {
	border-color: var(
		--w-c-card-border-color-hover,
		var(--w-s-color-border-selected-hover)
	);
}

w-card:has([data-card-action]:focus-visible)::part(border),
w-card:has([data-card-action][data-focus-visible])::part(border) {
	border-color: var(--w-s-color-border-focus);
	border-width: 2px;
}

w-card:not([flat]):has([data-card-action]:active)::part(base) {
	background-color: var(
		--w-c-card-bg-active,
		var(--w-s-color-surface-elevated-200-active)
	);
	box-shadow: var(--w-c-card-box-shadow-active, var(--w-none));
}

w-card[flat]:has([data-card-action]:active)::part(base) {
	background-color: var(
		--w-c-card-bg-active,
		var(--w-s-color-background-active)
	);
	box-shadow: var(
		--w-c-card-box-shadow-active,
		var(--w-s-shadow-surface-elevated-200-active)
	);
}

w-card:not([flat]):has([data-card-action]:active)::part(border) {
	border-color: var(--w-c-card-border-color-active, var(--w-transparent));
}

w-card[flat]:has([data-card-action]:active)::part(border) {
	border-color: var(
		--w-c-card-border-color-active,
		var(--w-s-color-border-active)
	);
}
