name: i18n
on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: lts/*
      - run: pnpm i
      - name: Validate extracted messages
        run: pnpm messages:compile
