name: Storybook preview

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: lts/*
      - run: pnpm i
      - name: Build storybook
        run: pnpm run build:storybook
        env:
          STORYBOOK_BASE: ''
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./storybook-static/
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto
