name: Release
on:
  push:
    branches:
      - main
      - beta
      - next
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          node-version: lts/*
      - run: pnpm i

      - name: Build
        run: pnpm build

      # test after build so we have compiled Lingui files to import
      - name: Install Playwright
        run: pnpm exec playwright install --with-deps
      - name: Test
        run: pnpm test && pnpm test:module-resolution

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          for i in {1..3}; do
            npx semantic-release && break || sleep 30
          done
      - name: Eik login and publish
        if: success()
        run: pnpm eik login -k $EIK_TOKEN && pnpm eik publish || true
        env:
          EIK_TOKEN: ${{ secrets.EIK_TOKEN }}
