<html lang="en">
  <%- include('head.html'); -%>
  <body data-await-elements="w-alert,sidebar-element">
    <script type="module" src="../sidebar-element.js"></script>
    <div class="flex">
      <sidebar-element class="sidebar"></sidebar-element>
      <main slot="content">
        <h1 class="mb-16">Alert</h1>
        <p>
          Alert is an inline component used for displaying different types of messages. For
          accessibility reasons, alert should appear close to the element that triggered it.
        </p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>variant</td>
              <td>"negative" | "positive" | "warning" | "info"</td>
              <td>-</td>
            </tr>
            <tr>
              <td>show</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>role</td>
              <td>string</td>
              <td>"alert"</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <syntax-highlight>
          <div class="flex gap-8 flex-wrap mt-16">
            <w-button small aria-controls="defaultAlertId">Hide and show "info" variant</w-button>
            <w-button small aria-controls="defaultAlertId">Hide and show "negative" variant</w-button>
            <w-button small aria-controls="defaultAlertId">Hide and show "positive" variant</w-button>
            <w-button small aria-controls="defaultAlertId">Hide and show "warning" variant</w-button>
          </div>
          <w-alert id="defaultAlertId" variant="info" show>
            <p>This is "info" variant of the alert element</p>
          </w-alert>
        </syntax-highlight>
        <div class="example">
          <div id="defaultAlertControllers" class="flex gap-8 flex-wrap mb-16">
            <%- include('alertControllers.html'); -%>
          </div>
          <w-alert id="defaultAlert" variant="info" show>
            <p>This is "info" variant of the alert element</p>
          </w-alert>
        </div>

        <syntax-highlight>
          <w-alert variant="info" show>
            <h3 class="t5">This is "info" variant of the alert element</h3>
            <p>With an additional description</p>
          </w-alert>
        </syntax-highlight>
        <div class="example">
          <div id="alertWithDescriptionControllers" class="flex gap-8 flex-wrap mb-16">
            <%- include('alertControllers.html'); -%>
          </div>
          <w-alert id="alertWithDescription" variant="info" show>
            <h3 class="t5">This is "info" variant of the alert element</h3>
            <p>With an additional description</p>
          </w-alert>
        </div>

        <syntax-highlight>
          <w-alert variant="info" show>
            <h3 class="t5">This is "info" variant of the alert element</h3>
            <p>With an additional description</p>
            <div class="mt-8 space-x-8">
              <w-button small onclick="alert('clicked!');">
                Primary button
              </w-button>
              <w-button small quiet onclick="alert('clicked!');">
                Secondary button
              </w-button>
            </div>
          </w-alert>
        </syntax-highlight>
        <div class="example">
          <div id="alertWithButtonsControllers" class="flex gap-8 flex-wrap mb-16">
            <%- include('alertControllers.html'); -%>
          </div>
          <w-alert id="alertWithButtons" variant="info" show>
            <h3 class="t5">This is "info" variant of the alert element</h3>
            <p>With an additional description</p>
            <div class="mt-8 space-x-8">
              <w-button small onclick="alert('clicked!');">
                Primary button
              </w-button>
              <w-button small quiet onclick="alert('clicked!');">
                Secondary button
              </w-button>
            </div>
          </w-alert>
        </div>
        <h2 class="mt-24 mb-16">Accessibility</h2>
        <p>
          Use the ARIA live region <code>role</code> attribute to provide meaning to the alert
          element (defaults to "alert"). If you want to remove the role from the alert and assign it
          to its particular child (e.g. title), you can do so by setting <code>role</code> attribute
          to an empty string on <code>w-alert</code> element and assigning a respective
          <code>role</code> on the child element. Read more about live region
          <code>role</code> attribute
          <a
            target="_blank"
            title="Read more about ARIA live region role attribute"
            class="text-current hover:no-underline focus:no-underline"
            href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions#roles_with_implicit_live_region_attributes"
            ><u> on MDN</u></a
          >.
        </p>

        <syntax-highlight>
          <w-alert id="selfHidingAlertId" variant="info" show role="">
            <h3 role="alert" class="t5">This is a "info" variant of the alert element</h3>
            <p>You see this warning because you did something wrong</p>
            <w-button variant="primary" small aria-controls="selfHidingAlertId">Hide and show alert</w-button>
          </w-alert>
        </syntax-highlight>
        <div class="example">
          <w-alert id="selfHidingAlert" variant="info" show role="">
            <h3 role="alert" class="t5">This is "info" variant of the alert element</h3>
            <p>With an additional description</p>
            <div id="selfHidingAlertControllers">
              <w-button variant="primary" small aria-controls="selfHidingAlert">Hide and show alert</w-button>
            </div>
          </w-alert>
        </div>
      </main>
    </div>
    <%- include('footer.html'); -%>
    <%- include('alertControllersScripts.html'); -%>
  </body>
</html>
