<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <script type="module" src="../sidebar-element.js"></script>
    <div class="flex">
      <sidebar-element class="sidebar"></sidebar-element>
      <main slot="content">
        <h1 class="mb-16">Badge</h1>
        <p>Badge is used for showing a small amount of non-interactive color-categorized metadata, like a status or count.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>variant</td>
              <td>'neutral' | 'info' | 'positive' | 'warning' |'negative' | 'disabled' | 'price'</td>
              <td>'neutral'</td>
            </tr>
            <tr>
              <td>position</td>
              <td>'top-left' | 'top-right' | 'bottom-left' | 'bottom-right'</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <h3>Default</h3>
        <syntax-highlight class="mt-0">
          <w-badge>
            I am a default badge
          </w-badge>
        </syntax-highlight>
        <div class="example">
          <w-badge>
            I am a default badge
          </w-badge>
        </div>

        <h3 class="mb-8">Variants</h3>
        <syntax-highlight class="mt-0">
          <w-badge variant="neutral">neutral badge</w-badge>
          <w-badge variant="info">info badge</w-badge>
          <w-badge variant="positive">positive badge</w-badge>
          <w-badge variant="warning">warning badge</w-badge>
          <w-badge variant="negative">negative badge</w-badge>
          <w-badge variant="disabled">disabled badge</w-badge>
          <w-badge variant="price">price badge</w-badge>
        </syntax-highlight>
        <div class="example">
          <ul class="flex flex-row flex-wrap gap-8">
            <li><w-badge variant="neutral">neutral badge</w-badge></li>
            <li><w-badge variant="info">info badge</w-badge></li>
            <li><w-badge variant="positive">positive badge</w-badge></li>
            <li><w-badge variant="warning">warning badge</w-badge></li>
            <li><w-badge variant="negative">negative badge</w-badge></li>
            <li><w-badge variant="disabled">disabled badge</w-badge></li>
            <li><w-badge variant="price">price badge</w-badge></li>
          </ul>
        </div>

        <h3 class="mb-8">Positions</h3>
        <syntax-highlight class="mt-0">
          <w-badge position="top-left">top-left</w-badge>
          <w-badge position="top-right">top-right</w-badge>
          <w-badge position="bottom-right">bottom-right</w-badge>
          <w-badge position="bottom-left">bottom-left</w-badge>
        </syntax-highlight>
        <div class="example space-y-16">
          <div class="relative border border-0 rounded-8 overflow-hidden h-96 max-w-[400px]">
            <img class="w-full h-96 object-cover" src="https://source.unsplash.com/random/400x96" />
            <w-badge position="top-left" variant="price">top-left</w-badge>
          </div>
          <div class="relative border border-0 rounded-8 overflow-hidden h-96 max-w-[400px]">
            <img class="w-full h-96 object-cover" src="https://source.unsplash.com/random/400x96" />
            <w-badge position="top-right" variant="price">top-right</w-badge>
          </div>
          <div class="relative border border-0 rounded-8 overflow-hidden h-96 max-w-[400px]">
            <img class="w-full h-96 object-cover" src="https://source.unsplash.com/random/400x96" />
            <w-badge position="bottom-right" variant="price">bottom-right</w-badge>
          </div>
          <div class="relative border border-0 rounded-8 overflow-hidden h-96 max-w-[400px]">
            <img class="w-full h-96 object-cover" src="https://source.unsplash.com/random/400x96" />
            <w-badge position="bottom-left" variant="price">bottom-left</w-badge>
          </div>
        </div>

      </main>
      <%- include('footer.html'); -%>
    </div>

  </body>
</html>
