<html lang="en">
  <%- include('head.html'); -%>
  <body data-await-elements="w-box,sidebar-element">
    <script type="module" src="../sidebar-element.js"></script>
    <div class="flex">
      <sidebar-element class="sidebar"></sidebar-element>
      <main slot="content">
        <h1 class="mb-16">Box</h1>
        <p>Box is a layout component used for separating content areas on a page.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>bleed</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Will make a box full-width on mobile</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>bordered</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>info</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Will style the box with light blue colors</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>neutral</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Will style the box with light gray colors</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>role</td>
              <td>
                <div>string</div>
                <div class="annotation">
                  Sets the ARIA <code>role</code> attribute to provide semantic meaning to a box element.
                  To remove the default role attribute, supply an empty role (<code>role=""</code>).
                </div>
              </td>
              <td>region</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <syntax-highlight>
          <w-box>
            <h3>I have default styles</h3>
          </w-box>
        </syntax-highlight>
        <div class="example">
          <w-box role="region">
            <h3>I have default styles</h3>
          </w-box>
        </div>

        <syntax-highlight>
          <w-box info>
            <h3>I am an info box</h3>
          </w-box>
        </syntax-highlight>
        <div class="example">
          <w-box info>
            <h3>I am an info box</h3>
          </w-box>
        </div>

        <syntax-highlight>
          <w-box bordered>
            <h3>I am a bordered box</h3>
          </w-box>
        </syntax-highlight>
        <div class="example">
          <w-box bordered>
            <h3>I am a bordered box</h3>
          </w-box>
        </div>

        <syntax-highlight>
          <w-box neutral>
            <h3>I am a neutral colour</h3>
          </w-box>
        </syntax-highlight>
        <div class="example">
          <w-box neutral>
            <h3>I am a neutral colour</h3>
          </w-box>
        </div>

        <syntax-highlight>
          <w-box neutral bleed>
            <h3>I am full width on mobile</h3>
          </w-box>
        </syntax-highlight>
        <div class="example">
          <w-box neutral bleed>
            <h3>I am full width on mobile</h3>
          </w-box>
        </div>

        <syntax-highlight>
          <w-box info class="w-full lg:w-2/4 md:w-2/4">
            <h3 class="mb-16">Info box</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada dui in commodo dapibus.
            </p>
            <div class="my-16">
              <a title="This is a link">This is a link</a>
            </div>
            <w-button small onclick="alert('clicked!');">Button</w-button>
          </w-box>
        </syntax-highlight>
        <div class="example">
          <w-box info class="w-full lg:w-2/4 md:w-2/4">
            <h3 class="mb-16">Info box</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada dui in commodo dapibus.
            </p>
            <div class="my-16">
              <a title="This is a link">This is a link</a>
            </div>
            <w-button small onclick="alert('clicked!');">Button</w-button>
          </w-box>
        </div>
        <h2 class="mt-24 mb-16">Accessibility</h2>
        <p>
          Use the ARIA <code>role</code> attribute to provide semantic meaning to a box element.
          If no role property is supplied, it will default to <code>role="region"</code>.
          To remove the default role attribute, supply an empty role (<code>role=""</code>).
          Consider using more suitable roles for your specific Box, as described on
          <a
            target="_blank"
            title="Read more about ARIA role types on MDN"
            class="text-current hover:no-underline focus:no-underline"
            href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles#aria_role_types"
            ><u>MDN WAI-ARIA Roles</u></a
          >.
        </p>

        <syntax-highlight>
          <w-box bordered role="region">
            <h3>I am treated as a section element by screen readers and other tools</h3>
          </w-box>
        </syntax-highlight>
        <div class="example">
          <w-box bordered role="region">
            <h3>I am treated as a section element by screen readers and other tools</h3>
          </w-box>
        </div>
      </main>
    </div>
      <%- include('footer.html'); -%>

  </body>
</html>
