<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <script type="module" src="../sidebar-element.js"></script>
    <div class="flex">
      <sidebar-element class="sidebar"></sidebar-element>
      <main slot="content">
        <h1 class="mb-16">Dead toggle</h1>
        <p>Dead toggle can be used where the appearance of a checkbox or radio is needed - but for accessibility purposes an actual <code>input</code> element should not be present.</p>
        <p>Typically this happens in a component like a Card, where the whole card should behave as a checkbox and be clickable - but the representation of a checkbox-UI is part of the card</p>
        <p>For more examples see the <a href="https://warp-ds.github.io/docs/components/card/">Warp Card documentation</a></p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
        <thead>
          <tr class="text-left text-gray-400 uppercase">
            <th>prop</th>
            <th>type</th>
            <th>default</th>
          </tr>
        </thead>
        <tbody class="align-top">
          <tr>
            <td>type</td>
            <td>
              <div>string</div>
              <div class="annotation">Can be 'radio' or 'checkbox'</div>
            </td>
            <td>'radio'</td>
          </tr>
          <tr>
            <td>checked</td>
            <td>
              <div>boolean</div>
              <div class="annotation">
                Changes the appearance of the radio/checkbox to 'checked'.
              </div>
            </td>
            <td>false</td>
          </tr>
          <tr>
            <td>invalid</td>
            <td>
              <div>boolean</div>
              <div class="annotation">
                Changes the appearance of the radio/checkbox to 'invalid'.
              </div>
            </td>
            <td>false</td>
          </tr>
        </tbody>
         </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <h3 class="mt-24 mb-16">Radio</h3>
        <syntax-highlight>
          <w-dead-toggle type="radio"></w-dead-toggle>
          <w-dead-toggle type="radio" checked></w-dead-toggle>
          <w-dead-toggle type="radio" invalid></w-dead-toggle>
          <w-dead-toggle type="radio" invalid checked></w-dead-toggle>
        </syntax-highlight>
        <div class="example flex gap-8 items-center">
          <w-dead-toggle type="radio"></w-dead-toggle>
          <w-dead-toggle type="radio" checked></w-dead-toggle>
          <w-dead-toggle type="radio" invalid></w-dead-toggle>
          <w-dead-toggle type="radio" invalid checked></w-dead-toggle>
          <w-dead-toggle type="radio" id="toggleableRadio"></w-dead-toggle>
          <w-button id="toggleRadio" variant="utility" small class="ml-auto">Click me to toggle the last radio</w-button>
        </div>
        <script type="module">
        toggleRadio.addEventListener('click', () => {
          toggleableRadio.checked = !toggleableRadio.checked
        })
        </script>

        <h3 class="mt-24 mb-16">Checkbox</h3>
        <syntax-highlight>
          <w-dead-toggle type="checkbox"></w-dead-toggle>
          <w-dead-toggle type="checkbox" indeterminate></w-dead-toggle>
          <w-dead-toggle type="checkbox" checked></w-dead-toggle>
          <w-dead-toggle type="checkbox" invalid></w-dead-toggle>
          <w-dead-toggle type="checkbox" invalid indeterminate></w-dead-toggle>
          <w-dead-toggle type="checkbox" invalid checked></w-dead-toggle>
        </syntax-highlight>
        <div class="example flex gap-8 items-center">
          <w-dead-toggle type="checkbox"></w-dead-toggle>
          <w-dead-toggle type="checkbox" indeterminate></w-dead-toggle>
          <w-dead-toggle type="checkbox" checked></w-dead-toggle>
          <w-dead-toggle type="checkbox" invalid></w-dead-toggle>
          <w-dead-toggle type="checkbox" invalid indeterminate></w-dead-toggle>
          <w-dead-toggle type="checkbox" invalid checked></w-dead-toggle>
          <w-dead-toggle type="checkbox" id="toggleableCheckbox"></w-dead-toggle>
          <w-button id="toggleCheckbox" variant="utility" small class="ml-auto">Click me to toggle the last checkbox</w-button>
        </div>
        <script type="module">
        toggleCheckbox.addEventListener('click', () => {
          toggleableCheckbox.checked = !toggleableCheckbox.checked
        })
        </script>
      </main>
    </div>
    <script>
    </script>
      <%- include('footer.html'); -%>
  </body>
</html>

