<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <script type="module" src="../sidebar-element.js"></script>
    <div class="flex">
      <sidebar-element class="sidebar"></sidebar-element>
      <main slot="content">
        <h1 class="mb-16">Modal</h1>
        <p>Modals (or dialogs) display important information that users need to acknowledge.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>show</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Controls if the modal should show or hide</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>ignore-backdrop-clicks</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Ignores clicks to the backdrop when true</div>
              </td>
              <td>false</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Variants</h2>

        <h3>With a titlebar</h3>

        <syntax-highlight>
          <w-modal>
            <w-modal-header slot="header" title="An example modal"></w-modal-header>
            <div slot="content">
              <p>Wu-Tang is forever</p>
            </div>
            <w-modal-footer slot="footer">
              <w-button variant="primary">OK</w-button>
            </w-modal-footer>
          </w-modal>
        </syntax-highlight>

        <div class="example">
          <w-button id="modal-open-button-one" aria-haspopup="dialog">Open a modal</w-button>
          <w-modal id="example-modal-one">
            <w-modal-header id="modal-header-one" slot="header" title="An example modal"></w-modal-header>
            <div slot="content">
              <div class="mb-12">
                <w-button id="modal-toggle-back-one" variant="utility" small>Toggle back button</w-button>
              </div>
              <p>I bomb atomically, Socrates' philosophies and hypotheses Can't define how I be droppin' these mockeries Lyrically perform armed robbery Flee with the lottery, possibly they spotted me Battle-scarred Shogun, explosion when my pen hits tremendous Ultra-violet shine blind forensics I inspect view through the future see millennium Killa Beez sold fifty gold, sixty platinum Shackling the masses with drastic rap tactics Graphic displays melt the steel like blacksmiths Black Wu jackets, Queen Beez ease the guns in Rumble with patrolmen, tear gas laced the function Heads by the score take flight, incite a war Chicks hit the floor, diehard fans demand more Behold the bold soldier, control the globe slowly Proceeds to blow, swingin' swords like Shinobi Stomp grounds and pound footprints in solid rock Wu got it locked, performin' live on your hottest block</p>
              <p>First I'm gonna getcha, once I gotcha, I gat-cha, You could never capture the Method Man's stature. So uhh, tic toc and keep ticking, while I get you flipping off what I'm kicking. Yes, the rhythm, the rebel, alone in my level heat it up past the boiling point of metal. Shackling the masses with drastic rap tactics, graphic displays melt the steel like blacksmiths. My beats travel like a vortex through your spine, to the top of your cerebral cortex. Yes, the rhythm, the rebel, alone in my level heat it up past the boiling point of metal. Small change, they putting shame in the game. Murderous material, made by a madman, it's the mic wrecker, Inspector, bad man.</p>
              <p>My beats travel like a vortex through your spine, to the top of your cerebral cortex. The rebel, I make more noise than heavy metal. Now, lo and behold, another deadly episode, bound to catch another charge when I explode Perpendicular to the square we stay in gold like Flair, escape from your dragon's lair in particular. Handcuffed in the back of a bus, forty of us. Slammin a hype verse til ya head burst. Handcuffed in the back of a bus, forty of us. I bomb atomically Socrates' philosophies and hypothesis can't define how I be dropping these mockeries. I be that insane one from the psycho ward, I'm on the trigger, plus I got the Wu-Tang sword. Step through your section with the Force like Luke Skywalker, rhyme author, orchestrate mind torture.</p>
              <p>It was the night before New Year's all through the projects, not a handgun was silent, not even a Tec. I smoke on the mic like smoking Joe Frazier, the hell raiser, raising hell with the flavor. The Wu is comin thru, the outcome is critical, Muckin wit my style, is sort of like a Miracle. We got stick-up kids, corrupt cops, and pop rocks. Step through your section with the Force like Luke Skywalker, rhyme author, orchestrate mind torture. Rae got it going on pal, call me the rap assassinator, rhymes rugged and built like Schwarzenegger.</p>
            </div>
            <w-modal-footer slot="footer">
              <w-button variant="primary" id="modal-close-button-one">OK</w-button>
            </w-modal-footer>
          </w-modal>
        </div>

        <h3>With an image at the top</h3>

        <syntax-highlight>
          <w-modal>
            <w-modal-header slot="header" title="Look a doggo!">
              <img slot="top" class="h-[256] w-full object-cover" src="/pages/public/unocssmusical.jpeg" alt="AI-generated picture of a band in colourful setup">
            </w-modal-header>
            <w-modal-footer slot="footer">
              <w-button variant="primary">OK</w-button>
            </w-modal-footer>
          </w-modal>
        </syntax-highlight>

        <div class="example">
          <w-button id="modal-open-button-two" aria-haspopup="dialog">Open a modal</w-button>
          <w-modal id="example-modal-two">
            <w-modal-header slot="header" title="Look a doggo!">
              <img slot="top" class="h-[256] w-full object-cover" src="/pages/public/unocssmusical.jpeg" alt="AI-generated picture of a band in colourful setup">
            </w-modal-header>
            <w-modal-footer slot="footer">
              <w-button variant="primary" id="modal-close-button-two">OK</w-button>
            </w-modal-footer>
          </w-modal>
        </div>

        <script>
          const openButtonOne = document.querySelector('#modal-open-button-one')
          const closeButtonOne = document.querySelector('#modal-close-button-one')
          const toggleBackButtonOne = document.querySelector('#modal-toggle-back-one')
          const modalOne = document.querySelector('#example-modal-one')
          const modalHeaderOne = document.querySelector('#modal-header-one')
          openButtonOne.addEventListener('click', () => modalOne.open())
          closeButtonOne.addEventListener('click', () => modalOne.close())
          toggleBackButtonOne.addEventListener('click', () => {
            modalHeaderOne.back = !modalHeaderOne.back
          })

          const openButtonTwo = document.querySelector('#modal-open-button-two')
          const closeButtonTwo = document.querySelector('#modal-close-button-two')
          const modalTwo = document.querySelector('#example-modal-two')
          openButtonTwo.addEventListener('click', () => modalTwo.open())
          closeButtonTwo.addEventListener('click', () => modalTwo.close())
        </script>

      <%- include('footer.html'); -%>
  </body>
</html>
