<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <script type="module" src="../sidebar-element.js"></script>
    <script>
        document.querySelector('html').addEventListener('w-pill-click', e => {
            console.log('Click clicked');
        });
        document.querySelector('html').addEventListener('w-pill-close', e => {
            console.log('Close clicked');
        });
    </script>
    <div class="flex">
      <sidebar-element class="sidebar"></sidebar-element>
      <main slot="content">
        <h1 class="mb-16">Pill</h1>
        <p>Pill is a type of button that is often used as a filter, but can also be used as a rounded button for overlays, etc.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>can-close</td>
              <td>boolean</td>
              <td>"false"</td>
            </tr>
            <tr>
              <td>suggestion</td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>open-sr-label</td>
              <td><div>string</div>
                <div>Label read by screen readers when targeting the pill.</div></td>
              <td>"Open filter"</td>
            </tr>
            <tr>
              <td>close-sr-label</td>
              <td><div>string</div>
                <div>Label read by screen readers when targeting the close button.</div></td>
              <td>"Remove filter {label}"</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Events</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>Name</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>w-pill-click</td>
              <td>Event to be called when the pill is clicked.</td>
            </tr>
            <tr>
              <td>w-pill-close</td>
              <td>Event to be called when the close button is clicked.</td>
            </tr>
          </tbody>
        </table>

        <div class="md:grid md:grid-cols-3">
          <div class="col-span-2">
            Pill
            <syntax-highlight>
              <w-pill>Standard pill</w-pill>
              <w-pill open-sr-label="test">Standard pill</w-pill>
              <w-pill can-close>Closable pill</w-pill>
              <w-pill suggestion can-close>SC pill</w-pill>
            </syntax-highlight>
          </div>
          <div class="grid-example md:ml-48 col-span-2 md:col-span-1">
            <w-pill>Standard pill</w-pill>
            <w-pill open-sr-label="test">Standard pill</w-pill>
            <w-pill suggestion>Suggestion pill</w-pill>
            <w-pill can-close>Closable pill</w-pill>
            <w-pill suggestion can-close>SC pill</w-pill>
          </div>
        </div>
      </main>
    </div>
      <%- include('footer.html'); -%>
  </body>
</html>
