<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <script type="module" src="../sidebar-element.js"></script>
    <div class="flex">
      <sidebar-element class="sidebar"></sidebar-element>
      <main slot="content">
        <h1 class="mb-16">Select</h1>
        <p>A dropdown component for selecting a single value.</p>

        <h2 class="mt-24 mb-16">Props</h2>
        <table class="w-full docs-table">
          <thead>
            <tr class="text-left text-gray-400 uppercase">
              <th>prop</th>
              <th>type</th>
              <th>default</th>
            </tr>
          </thead>
          <tbody class="align-top">
            <tr>
              <td>auto-focus</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether the element should receive focus on render</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>
                <div>boolean</div>
                <div class="annotation">
                  Renders the field in a disabled state.
                </div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>invalid</td>
              <td>
                <div>boolean</div>
                <div class="annotation">
                  Renders the field in an invalid state. Often paired with `hint` to provide
                  feedback about the error
                </div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>always</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether to always show a hint</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>hint</td>
              <td>
                <div>string</div>
                <div class="annotation">The content displayed as the help text</div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>label</td>
              <td>
                <div>string</div>
                <div class="annotation">The content to disply as the label</div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>name</td>
              <td>
                <div>string</div>
                <div class="annotation">
                  The name of the select element, used when submitting an HTML form
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>optional</td>
              <td>
                <div>boolean</div>
                <div class="annotation">Whether to show optional text</div>
              </td>
              <td>false</td>
            </tr>
            <tr>
              <td>read-only</td>
              <td>
                <div>boolean</div>
                <div class="annotation">
                  Renders the field in a readonly state.
                </div>
              </td>
              <td>false</td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-24 mb-16">Visual Options</h2>

        <h3 class="mt-24 mb-16">Default</h3>
        <syntax-highlight>
          <w-select label="Berries">
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries' selected>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </syntax-highlight>
        <div class="example">
          <w-select label="Berries">
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries' selected>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </div>

        <h3 class="mt-24 mb-16">Hint</h3>
        <syntax-highlight>
          <w-select label="Berries" hint="We assume this is your jam preference" always>
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries' selected>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </syntax-highlight>
        <div class="example">
          <w-select label="Berries" hint="We assume this is your jam preference" always>
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries' selected>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </div>

        <h3 class="mt-24 mb-16">Optional</h3>
        <syntax-highlight>
          <w-select label="Berries" hint="We assume this is your jam preference" always optional>
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </syntax-highlight>
        <div class="example">
          <w-select label="Berries" hint="We assume this is your jam preference" always optional>
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </div>

        <h3 class="mt-24 mb-16">Disabled</h3>
        <syntax-highlight>
          <w-select label="Berries" disabled>
            <option value='Strawberries' disabled selected>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </syntax-highlight>
        <div class="example">
          <w-select label="Berries" disabled>
            <option value='Strawberries' disabled selected>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </div>

        <h3 class="mt-24 mb-16">Invalid</h3>
        <syntax-highlight>
          <w-select label="Berries" hint="Wrong choice" invalid always>
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </syntax-highlight>
        <div class="example">
          <w-select label="Berries" hint="Wrong choice" invalid id='invalid-example' always>
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </div>

        <h3 class="mt-24 mb-16">Auto focus</h3>
        <syntax-highlight>
          <w-select label="Berries" auto-focus>
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </syntax-highlight>
        <div class="example">
          <w-select label="Berries" auto-focus>
            <option value='Strawberries'>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </div>

        <h3 class="mt-24 mb-16">Readonly</h3>
        <syntax-highlight>
          <w-select label="Berries" read-only>
            <option value='Strawberries' disabled selected>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </syntax-highlight>
        <div class="example">
          <w-select label="Berries" read-only>
            <option value='Strawberries' disabled selected>Strawberries</option>
            <option value='Raspberries'>Raspberries</option>
            <option value='Cloudberries'>Cloudberries</option>
          </w-select>
        </div>
      </main>
    </div>
    <script>
     document.addEventListener('DOMContentLoaded', () => {
        const selectElement = document.getElementById('invalid-example');

        function attachChangeListener() {
          if (selectElement.shadowRoot) {
            const shadowSelect = selectElement.shadowRoot.querySelector('select');
            if (shadowSelect) {
              shadowSelect.addEventListener('change', (e) => {
                const selectedValue = e.target.value;
                if (selectedValue === 'Cloudberries') {
                  selectElement.removeAttribute('invalid');
                  selectElement.setAttribute('hint', 'Right choice');
                } else {
                  selectElement.setAttribute('invalid', '');
                  selectElement.setAttribute('hint', 'Wrong choice');
                }
              });
            } 
            else {
              setTimeout(attachChangeListener, 100);
            }
          } else {
            setTimeout(attachChangeListener, 100);
          }
        }

        attachChangeListener();
      });
    </script>
      <%- include('footer.html'); -%>

  </body>
</html>
